* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  background: url(../image/background-grid.png);
  max-width: 100vw;
  max-height: 100vh;
  padding: 80px;
  position: relative;
  height: 100%;
  width: 100%;
}

.title {
  background: #C0C0C0;
  padding: 20px 46px;
  max-width: 600px;
  max-height: 400px;
  bottom: 0;
  margin: 80px 0px 75px 80px;
  overflow: hidden;
}

.home__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.home__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40px;
  right: 40px;
}

.list__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  text-decoration: none;
  margin-right: 31px;
}

.list__item:hover {
  color: #4473A8;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 40px;
}

.downArrow {
  width: 100%;
  height: 100%;
  text-align: center;
}

.aboutUs__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: minmax(auto, 25vw);
}

.grid__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutUs__item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.aboutUs__item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  background: #4473A8;
}

.aboutUs__item-2__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.aboutUs__item-2__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.aboutUs__item-4__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.aboutUs__item-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgba(68, 111, 162, 0.7);
}

.aboutUs__item-7__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}

.aboutUs__item-7__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.aboutUs__item-9__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.mens__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: minmax(auto, 25vw);
  gap: 5%;
  width: 100%;
  margin-bottom: 10%;
}

.mens__item {
  margin: 40px;
  position: relative;
}

.mens__item-text {
  position: absolute;
  top: 55px;
  left: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

.mens__item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.mens__item-2 {
  border: 10px solid #000000;
}

.mens__item-3 {
  border: 10px solid #000000;
}

.mens__item-4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.womens {
  padding: 10px;
}

.womens__inner {
  gap: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(auto, 33vh);
}

.womens__img {
  border: 3px solid #000000;
}

.womens__item-3 {
  grid-row-start: 1;
  grid-row-end: 4;
}

.womens__item-4 {
  grid-row-start: 1;
  grid-row-end: 4;
}

.womens__item-5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.womens__item-6 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.womens__item-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.womens__item-8 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.womens__item-9 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.womens__item-10 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.video {
  margin-top: 20px;
  text-align: center;
}

.sale__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(auto, 33vh);
}

.sale__img {
  border: 3px solid #000000;
}

.sale__text {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 25px 8px;
}

.sale__item {
  border: 1px solid #000000;
  padding: 28px 30px;
}

.sale__item-3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 20px;
}

.sale__img-2 {
  border: none;
}

.footer__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(auto, 33vh);
}

.news__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.news__item {
  border: 1px solid #000000;
  padding: 50px 30px;
}

.news__img {
  border: 3px solid #000000;
}

.news__text {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 25px 8px;
}

.contact__inner {
  border: 10px solid #000000;
  width: 100%;
}

.contact__title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 10%;
}

.contact__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__input {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
  padding: 0 100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.contact__button {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  border: 3px solid #C4C4C4;
  padding: 16px 110px;
  margin-bottom: 5%;
}

.button {
  text-align: center;
}

.webp .home { background: url(../image/background-grid.webp); }